.tables_list {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.table_section {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.title {
    text-align: center;
    color: white;
    background-color: #02458d;

    padding: 8px;
    font-size: 2rem;
}

.tables {
    display: flex;
    justify-content: center;
    align-items: center;

}


.table {
    margin: 16px;
}